## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

 What is 7 to the power of 4?

In [9]:
7**4

2401

 Split this string:

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

In [ ]:
s=['Hi', 'there', 'dad!']
for i in s:
  print(i,end=" ")

Hi there dad!

 Given the variables:

    planet = "Earth"
    diameter = 12742

 Use .format() to print the following string: 

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

 Given this nested list, use indexing to grab the word "hello"

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst[3][1][2][0]

'hello'

 Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

 What is the main difference between a tuple and a list?

In [ ]:
# Tuple is immutable

 Create a function that grabs the email website domain from a string in the form: 

    user@domain.com
    
So for example, passing "user@domain.com" would return: domain.com

In [ ]:
def domainGet(email):
    return email.split('@')[-1]

In [ ]:
domainGet('user@domain.com')

'domain.com'

 Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [ ]:
def findDog(st):
    return 'dog' in st.lower().split()

In [ ]:
findDog('Is there a dog here?')

True

 Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.

In [ ]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [ ]:
countDog('This dog runs faster than the other dog dude!')

2

### Problem
You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases.

In [2]:
def caught_speeding(speed,is_birthday):
    status=''
    if is_birthday==False:
        if speed<=60:
            status= 'No Ticket'
        elif speed>=61 or speed<=80:
            status= 'Small Ticket'
        else:
            status= 'Big Ticket'
    else:
        if speed<=65:
            status= 'No Ticket'
        elif speed>=66 or speed<=85:
            status= 'Small Ticket'
        else:
            status= 'Big Ticket'
    return status

In [3]:
caught_speeding(81,False)

'Small Ticket'

In [5]:
caught_speeding(90,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [6]:
employees = ["Saran", "Akka", "kesav", "Arav", "Ram", "Ragav"]    
salary={}
for emp in employees:
    try:
       amount=int(input(f'Enter salary for {emp}: '))
       salary[emp]=amount
    except ValueError:
       print(f'Wrong salary input for {emp} ')
print(salary)
print('Total salary :',sum(salary.values()))

Enter salary for Saran: 20000
Enter salary for Akka: 10000
Enter salary for kesav: 25000
Enter salary for Arav: 15000
Enter salary for Ram: 17000
Enter salary for Ragav: 21000
{'Saran': 20000, 'Akka': 10000, 'kesav': 25000, 'Arav': 15000, 'Ram': 17000, 'Ragav': 21000}
Total salary : 108000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [8]:
dict_1={"Empid":510419106009,"empname":"Vinoth","Basicpay":75000}
dict_2={"Deptname":"ECE","DeptId":5104}
dict_1.update(dict_2)
print('Updated dictonary:')
print(dict_1)

Updated dictonary:
{'Empid': 510419106009, 'empname': 'Vinoth', 'Basicpay': 75000, 'Deptname': 'ECE', 'DeptId': 5104}